body {
    margin: 0 auto;
    max-width: 800px;
    padding: 0 20px;
  }

  header{
    position: fixed;
    background-color: #999;
    width: 100%;
    left: 0;
    top:0;
    /* align-items: center; */
    justify-content: center;
    justify-items: center;
    
  }
  h1,h2,h3{
    text-align: center;
    color: rgb(59, 61, 61);
  }

  h3{
    display: flex;
    background-color: rgb(228, 226, 226);
    border-radius: 0.3rem;
    margin: 1px;
    padding: 0;
    /* margin:2px ; */
  }
  h3 button{
    padding: 0.5rem;
    background-color: rgb(228, 226, 226) ;
    margin-left:1rem;
    font-size: 1rem;
    transform: translateX(75%);
  }
  .active,h3:hover{
    background-color: #ccc;
    color: blueviolet;
  }
  .messageTitle{
    /* position: fixed; */
    transform: translateY(230%);
    background-color: rgb(214, 124, 124);
    border-radius: 1rem;

  }
 
  .groups{
    position: fixed;
    left:0;
    top:5rem;
    background-color: rgb(202, 187, 187);
    height: 100%;
    width: 15%;
  }
  .users{
    position: fixed;
    right:0;
    top:5rem;
    background-color: rgb(202, 187, 187);
    height: 100%;
    width: 15%;
  }
  .userNames,.groupNames{
    background-color: rgb(240, 248, 247);
    height: 55%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
  }
  .sub-container{
    padding: 0.1rem;
  }
  .userInput{
    margin: 1rem;
  }
 input{
  margin: 0.2rem;
  height: 25px;
  border-radius: 0.4rem;
  border: none;
  background-color: rgb(219, 217, 217);
  /* border-color: #999; */

 }

  #messageContainer{
    padding: 3rem;
  }
  
  .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1px;
    margin: 4px 0;
  }
  
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .you-right {
    float: right;
    color: #aaa;
  }
  
  .right-left {
    float: left;
    color: #999;
  }

  .message{
    position: fixed;
    bottom: 5rem;
    /* padding: 1rem; */
    /* margin: 1rem; */
    /* width: 100%; */
  }
  .message input{
    position: fixed;
    /* left: 10rem; */
    left:28rem;
    width: 34%;
    height: 3rem;
    border-radius: 0.5rem;
    font-size: larger;
  }
  .message button{
    position: fixed;
    right: 25rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 10%;
    height: 3.5rem;
    border-radius: 0.5rem;
    border-color:#999;
    border: none;
  }
  hr{
    /* position: fixed; */
  }

  .message button:hover{
    background-color: #999;
  }

  button{
    border: none;
    margin-left: 5rem;
    background-color:rgb(201, 196, 196);
  }
  button:hover{
    background-color: red;
  }

  .admin{
    font-size:15px;
    color: rgb(22, 207, 52);
    border: none;
  }
  .message-title{
    color: rgb(96, 91, 91);
    background-color: rgb(32, 234, 75);
  }